@charset "utf-8";
html,body,p{margin: 0}
body {position: relative;}
input:focus,button:focus,a:focus,select:focus {outline: none;}
a {text-decoration: none;color: #0c8be7}
select {
    border: none;
    background-color: transparent;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-align: right;
    text-align-last: right;
    -webkit-text-align-last: right;
    direction: rtl;
    font-size: 1.0rem;
}
input::-webkit-input-placeholder{
    color:#999;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#999;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#999;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#999;
}